<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-14">
            <div class="card">
                <div class="card-header">
                    Posts
                    <button class="btn btn-primary float-end" routerLink="/agregar">Publicar</button>
                </div>
                <div class="card-body">
                    <table *ngIf="listPost.length > 0" class="table table-hover mt-3">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Titulo</th>
                                <th>Contenido</th>
                                <th>Fecha</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let post of listPost">
                                <td>{{post.id}}</td>
                                <td>
                                    <a [routerLink]="['/articulo', post.id]">
                                      {{post.titulo}}
                                    </a>
                                </td>
                                <td>{{post.contenido}}</td>
                                <td>{{post.fecha | date }}</td>
                                <td class="buttons">
                                    <button [routerLink]="['/editar', post.id]" class="btn btn-primary">Editar</button>
                                    <button (click)="deletePost(post.id)" class="btn btn-danger">Eliminar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div *ngIf="listPost.length == 0" class="row mt-5">
                        No hay Articulos para mostrar
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>