<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-4">
                <img class="card-img-top" src="" alt="">
                <div class="card-body">
                    <h3>{{ post?.titulo}}</h3>
                    <img *ngIf="post?.imagen" [src]="post?.imagen" alt="">
                    <div *ngIf="post?.iframe" class="embed-responsive embed-responsive-16by9">
                        {{post?.iframe}}
                    </div>
                    <p class="card-text">
                        {{post?.contenido}}</p>
                    <p class="tex-muted mb-0">
                        <em>
                            &ndash; Sergio
                        </em> {{post?.fecha | date: "dd-MM-yyyy"}}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>